.info-container {width: 80%;
    background: #ffffff;
    margin: 0 auto;
    padding: 50px 0;
    
    
}

.info-container section header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container section article {
    
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius: 5%;
    
    
    
   
}

#areaA {
    
    background-color:#333333;
    margin-right: 2%;
    border-radius: 25px 25px 25px 25px;
    color:#ffffff;
    padding: 25px;
  }
  
  #areaB {
   
   
    margin-left: 25px;
  }


.info-container section header h1 {
   
    color: #ffffff;
    font-size: 28px;
    float: left;
}


.info-container section header span {
    opacity: 0.4;
}

.info-container section article img {
    max-width: 340px;
    display: grid;
    border-radius: 25px 25px 25px 25px;
   
}

.info-container section article .info-content .synopsis {
    
    margin: 4%;
    opacity: 0.8;

}

.info-container section article .info-content .synopsis h2 {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
}

.info-container section article .info-content .synopsis span {
    opacity: 0.8;
}

.info-container section article .info-content .information {
    
    margin: 4%;
    opacity: 0.8;
}

.info-container section article .info-content .information h2 {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 2%;
    padding-bottom: 0.5%;
}

.info-container section article .info-content .information ul {
    display: flex;
    flex-direction:flex;
    flex-wrap: wrap;
    margin: 0.5%;
}

.info-container section article .info-content .information ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 9%;
}

.info-container section article .info-content .information ul li h2 {
    color: #ffffff;
    font-size: 22px;
    border: none;
}

.info-container section article .info-content .information ul li span {
    opacity: 0.8;
}

.info-container section article .info-content footer {
    display: grid;
    grid-template-columns: 8fr 1fr;
    margin-bottom: 3%;
}

.info-container section article .info-content footer .info-genres {
    text-align: left;
    padding-left: 4%;
    margin-top: 4%;
}

.info-container section article .info-content footer .info-genres span {
    background: #ffffff;
    color: #000;
    border: 2px solid #ffffff;
    border-radius: 25px;
    padding: 4px 20px;
    margin-right: 10px;
}

.info-container section article .info-content .popularity {
    border: 4px solid #000;
    border-radius: 50px;
    width: 70px;
    height: 70px;
  
   
}

.info-container section article .info-content .popularity span {
    background: #000;
    border: 6px solid #ffffff;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    float: right;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.trailer {
    margin-bottom: 3%;
    height: 550px;
    max-width: 70%;
    background: #ffffff;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}